@import "../../../node_modules/bootstrap/scss/bootstrap";
@import "../../assets/scss/sb-admin/sb-admin";

.form-inline > input,
.form-inline > select,
.form-inline > label,
.form-inline > a,
.form-inline > div,
.form-inline > button {
  margin: 0 5px 5px 0;
}

h1 > i,
h2 > i,
h3 > i,
h4 > i,
h5 > i,
h6 > i {
  margin-right: 8px;
}

.w-30 {
  width: 30% !important;
}

.w-35 {
  width: 35% !important;
}

.w-40 {
  width: 40% !important;
}

.w-45 {
  width: 45% !important;
}

.w-55 {
  width: 55% !important;
}

.w-60 {
  width: 60% !important;
}

.w-65 {
  width: 65% !important;
}

.w-70 {
  width: 70% !important;
}

.w-80 {
  width: 80% !important;
}

.w-85 {
  width: 85% !important;
}

.w-90 {
  width: 90% !important;
}

.w-95 {
  width: 95% !important;
}

.router-link-active {
  background-color: #494d52;
  color: #fff !important;
}

.dropdown-item.active:not(:disabled), .dropdown-item:active:not(:disabled) {
  color: #fff;
  text-decoration: none;
  background-color: #dedede;
}

button,
a,
input,
select,
textarea {
  outline: none !important;
}

.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #343a40;
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(52, 58, 64, 0.25);
  box-shadow: 0 0 0 0.2rem rgba(52, 58, 64, 0.25);
}